<div class="well">
  <legend>Sign Up</legend>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <%= f.input :usuario %>
    <%= f.input :email %>
    <%= f.input :role_id, collection: Role.non_admin_roles.map { |r| [ r.name.capitalize, r.id ] }, include_blank: 'Escoger Rol' %>
    <%= f.input :password, hint: "#{@minimum_password_length} characters minimum", autocomplete: 'off' %>
    <%= f.input :password_confirmation, autocomplete: 'off'%>
    <div class="row">
      <div class="col col-md-12">
        <%= f.submit "Sign up", class:'col-lg-offset-2 col-md-8  btn btn-primary' %>
      </div>
      <div class="col col-md-12 tm-10">
        <%= link_to "Log In", new_session_path(resource_name), class: 'btn btn-default col-lg-offset-2 col col-md-8' %>
      </div>
    </div>
  <% end %>
  </div>