<%= simple_form_for([current_user, @chat]) do |f| %>
    <%= f.input :mensaje, text: true %>
    <%= f.input :id_e, as: :hidden %>
    <%= f.input :id_r, as: :hidden %>

    <%= f.submit 'Send', class: 'btn btn-success'%>
    <span class="recipient_box">&nbsp; to <span class="label label-primary recipient_username"></span></span>
<% end %>