<div class="row chat">
  <% @chats.each do |chat| %>
    <% if chat.sender == current_user %>
      <blockquote>
        <p><%= chat.mensaje %></p>
        <small>Sent to <cite title=""><b><%= chat.receiver.usuario %></b></cite></small>
      </blockquote>
    <% elsif chat.receiver == current_user %>
      <blockquote class="blockquote-reverse">
        <p><%= chat.mensaje %></p>
        <small>Received from <cite title=""><b><%= chat.sender.usuario %></b></cite></small>
      </blockquote>
    <% end %>
  <%end%>
</div>
<%= link_to 'Nuevo Chat', new_user_chat_path(current_user), class: 'btn btn-primary' %>