<div class="page-header">
  <h2>Nuevo Chat</h2>
</div>
<div class="col col-md-8">
  <%- if @chat.errors.any? %>
    <h1>asdfasdfasd</h1>
  <% end %>
  <%= simple_form_for([current_user, @chat]) do |f| %>
    <%= f.input :mensaje, text: true %>
    <%= f.input :id_e, as: :hidden %>
    <%= f.input :id_r, as: :hidden %>

    <%= f.submit 'Send', class: 'btn btn-success'%>
      <span class="recipient_box">&nbsp; to <span class="label label-primary recipient_username"></span></span>
  <% end %>
</div>
<div class="col col-md-4">
  <ul class="list-group" id="trainers">
    <li class="list-group-item list-group-item-heading"><b>Trainers</b></li>
    <% @trainers.each do |recipient| %>
      <li class="list-group-item" id="<%= recipient.id %>">
        <%= recipient.usuario %>
      </li>
    <% end %>
  </ul>
  <ul class="list-group" id="users">
    <li class="list-group-item list-group-item-heading"><b>Users</b></li>
    <% @users.each do |recipient| %>
      <li class="list-group-item" id="<%= recipient.id %>">
        <%= recipient.usuario %>
      </li>
    <% end %>
  </ul>
</div>