<div class="page-header">
  <h2>Nuevo Chat</h2>
</div>
<div class="col col-md-8">
  <%= render 'form' %>
</div>
<div class="col col-md-4">
  <ul class="list-group" id="trainers">
    <li class="list-group-item list-group-item-heading"><b>Trainers</b></li>
    <% @trainers.each do |recipient| %>
      <li class="list-group-item" id="<%= recipient.id %>">
        <%= recipient.usuario %>
      </li>
    <% end %>
  </ul>
  <ul class="list-group" id="users">
    <li class="list-group-item list-group-item-heading"><b>Users</b></li>
    <% @users.each do |recipient| %>
      <li class="list-group-item" id="<%= recipient.id %>">
        <%= recipient.usuario %>
      </li>
    <% end %>
  </ul>
</div>