<h2>Iniciar Sesion</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :usuario %><br />
    <%= f.text_field :usuario, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Iniciar Sesion" %>
  </div>
<% end %>

<%= render "users/shared/links" %>